.menu{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-flow: row wrap;
}

.menu li{
	height: 40px;
	text-align: center;
	line-height: 40px;
	flex:1 1 100%;
}

.menu li:nth-child(1){
	background-color: #39ADD1;
}
.menu li:nth-child(2){
	background-color: #3079AB;
}
.menu li:nth-child(3){
	background-color: #982551;
}
.menu li:nth-child(4){
	background-color: #E15258;
}
.menu li:nth-child(5){
	background-color: #CC6699;
}
.menu li:nth-child(6){
	background-color: #52AC43;
}

.menu li a{
	color: #fff;
	text-decoration: none;
}

@media (min-width: 480px) {
	.menu li{
		flex:1 1 50%;
	}
}
@media (min-width: 768px){
	.menu{
		flex-flow: row nowrap;
	}
}